/* Сброс отступов и запрет прокрутки */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Запрещаем скролл всей страницы */
    background-color: #000;
    /* Запрещаем выделение текста и системные жесты */
    user-select: none;
    -webkit-user-select: none;
    touch-action: none; /* Отключаем стандартные жесты браузера (зум, свайп назад) */
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
    /* Если используем visualViewport, лучше задавать высоту через JS, 
       но это база для предотвращения появления полос прокрутки */
}